<% provide(:title, "プロフィール") %>
<div class="container">
  <h1>プロフィール</h1>
  <div class="row">
    <aside class="col-md-2">
      <div class="user-picture-box">
        <%= gravatar_for @user, size: 100 %>
      </div>
    </aside>
    <div class="col-md-6">
      <section class="user_name_info">
        <%= @user.name %>
      </section>
      <%= link_to "プロフィール編集", edit_user_path(@user) %>
      <%= @user.introduction %>
      <%= @user.sex %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <% if @user.microposts.any? %>
        <h3>料理 (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div
</div>