<% provide(:title, "#{@micropost.name}") %>
<div class="container">
  <div class="row">
    <h2 class="micropost-name"><%= @micropost.name %></h2>
    <h5 class="micropost-description">内容（練習メニューなど): 
    <h4><%= @micropost.description %></h4></h5>
    <h4 class="micropost-team">チーム名：<%= @micropost.team %></h4>
    <h4 class="micropost-wind">風向風速：<%= @micropost.wind %></h4>
    <h4 class="micropost-time">練習時間：<%= @micropost.time %> 時間</h4>
    <h4 class="micropost-maintenance">整備箇所：<%= @micropost.maintenance %></h4>
  </div>
</div>
